
body{
    background-color: #0C130C;
    margin: 0 auto;
}
.container{
    width: 1700px;
    margin: auto;
    background-image: url(./main/Rectangle\ 52.png);
}
header{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    position: fixed;
    
}
nav{
    display: flex;
    gap: 50px;
    cursor: pointer;
    text-shadow: rgb(29, 31, 31) 3px 4px 19px;
   

}

body,a,h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0; 
    padding: 0;
}
.img{
    background-image: url(./main/wallpaper.png);
    position: relative;
    width: auto;
    height: auto;
}
#cover{
    background-image: url(./main/wallpaper.png) ; 
    width: auto;
    margin: 0;
    padding: 0;
    height: 700px;
    display: flex;
    align-items: center;

}

h1{
    
    font-weight: 700;
    font-size: 110px;
    color: white;
    margin-left: 200px;
    text-shadow: rgb(73, 73, 73) 3px 4px 19px;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    
}
.basket{
    border:solid;
    margin-top: -20px;
    padding: 12px;
border-radius: 17px;
    color: white;
}
.design{
    font-weight: 400;
    font-size: 36px;
    color: white;   
    margin-left: 200px;
}
.but{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: 500;
    font-size: 32px;
    height: 77px;
    width: 377px;
    background-color: #192306;
    border-radius: 15px;
    margin-top: 42px;
    margin-left: 200px;
    cursor: pointer;
    color: white;
    border-style: solid;
    border-color: #0C130C;
}
.catalog{
    background-image: url(./main/catalog.png);
    height: 200px;
    width: auto;
    margin-top: -100px;
    display: flex;
    justify-content: center;
}
.text-catalog{
    font-size: 100px;
    font-weight: bold;
    display: flex;
    align-items: center;
    
}